.live-text {
    text-align: center;
}

.live-text h3 {
    padding: 10px 0;
}

.match-part {
    padding: 23px;

}

.match-img {
    display: flex;
    justify-content: space-between;
}

.match-img .match-img1 {}

.match-img .match-img1 img {}

.match-img .match-img2 {}

.match-img .match-img2 img {}