.match-slider-img {
    width: 61%;
}

.live-text {
    text-align: center;
}

.active-page {
    background-color: rgb(188, 57, 221);
    color: white;
}

.live-text h3 {
    padding: 10px 0;
}

.match-part {
    padding: 23px;

}

.match-img {
    display: flex;
    justify-content: space-between;
}